.iconHolder {
    background-color: #ebf1ec;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-shrink: 0
}

#agency{
    margin-top: 50px;
}

.about{
    background-color: #000;
    margin-top: 145px;

    .hero{
        
        position: relative;

        .text{
            font-size: 45px;
            width: 60%;
            text-align: center;
            z-index: 2;
            font-weight: 600;
            

            span{
                color: #108a00;
            }
        }

        p{
            z-index: 3;
        }

        .lineRip{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            display: none;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .floating__pictures{

        width: 100%;
        // margin-top: 150px;
        overflow: hidden;
        filter: grayscale(1);
        gap: 20px;

        .photo__float{

            min-width: 400px;
            height: 300px;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }

    .more__about{
        // border-top: 1px solid #dfdfdf;
        // border-bottom: 1px solid #dfdfdf;
        margin: 20px 0;
    }

    .areas{

        justify-content: space-between;
        background-color: #108a00;
        border-radius: 5px;
        color: #fff;

        .lineform{
            width: 1px;
            height: 160px;
            background-color: #dfdfdf9d;
            margin: auto 0;
        }

        .scope{

            width: calc(33.3% - 10px);
            padding: 40px 0;
            // border-radius: 10px;

            .content__text{
                
                display: flex;
                flex-direction: column;
                align-items: center;

                .tag{
                    margin: 20px 0;
                    margin-top: 10px;
                }

                .main{
                    font-size: 24px;
                    font-weight: 600;
                }

                .sub__text{
                    font-size: 16px;
                    width: 80%;
                    line-height: 23px;
                    text-align: center;
                }
            }

        }
    }

    .structures{

        background-color: #f9f9f9;
        // padding: 100px 0;
        color: #000;
        margin: 20px 0;
        overflow-x: clip;

        .flex{

            position: relative;

            .txt__content{

                width: 50%;
                padding: 100px 0;

                .tag{
                    margin-bottom: 20px;
                }

                .main{
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 40px;
                }

                .sub__text{
                    line-height: 25px;
                    text-align: justify;
                    margin-bottom: 50px;
                }
            }

            .photo{
                width: 800px;
                overflow: hidden;
                height: 630px;
                position: absolute;
                top: 0;
                right: -150px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
       
    }

    .organ{
        padding: 50px;
        .trace{
            .main{
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 70px;
            }

            .photo{
                width: 100%;
                overflow: hidden;

                img{
                    width: 100%;
                }
            }
        }
    }
}

.topp{
    align-items: center;
    gap: 10px;
    margin-top: 135px;
}

.aims{

    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    .aim{
        width: 50%;
        height: 400px;
        background-color: #f9f9f9;
        padding: 50px 60px;
        color: #000;

        .h{
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            color: green;
        }
        
        p{
            font-size: 28px;
            text-align: center;
            margin: 0 auto;
            margin-top: 30px;
            font-weight: 500;
        }
    }
}

.picx{
    width: 20%;
    height: 500px;
    background-color: #000;
    overflow: hidden;
    
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: grayscale(1);
    }
}

.title{
    margin: 0px 0;
    padding: 70px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
    position: relative;
    width: 60%;
    background-color: green;
    height: 500px;
    color: #fff;
    text-decoration: underline;


    h1{
        font-size: 50px;
        position: relative;
        z-index: 2;
        letter-spacing: -1px;
    }

    span{
        position: relative;
        z-index: 2;
        font-size: 18px;
        width: 70%;
        line-height: 28px;
    }

    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: top;
        opacity: .3;
        mix-blend-mode: multiply;
    }
}

.tt{
    width: 60%;
    height: 100%;
    background-color: transparent;
    margin-left: 50px;
}

//responsibilities

.about__sections{

    background-color: #000;
    padding-top: 10px;

    .holder{

        background-color: #fff;
        text-align: justify;
        margin: 10px auto;
        padding: 50px;

        .mda__head{

            .mda__info{

                .lead{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 20px;
                    color: #108a00;
                }

                .backups{
                    line-height: 28px;
                    font-size: 17px;
                    font-weight: 500;
                    color: #000;
                }
            }

        }

        .mda__content{

            font-size: 17px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            line-height: 30px;
            padding: 50px 0;
            font-weight: 500;
            color: #000 ;
        }

    }

}


@media(max-width : 1200px) {

    .about, .about__sections{
    
        .aims{

            align-items: flex-start;
            height: max-content;

            .aim{

                height: 100%;

                p{
                    font-size: 21px;
                }
            }
        }

        .tt{
            margin: 0;
            padding: 30px 0 !important;
        }

        .title{

            h1{
                font-size: 40px;
            }

            span{
                width: 100%;
            }

        }

    }

}

@media(max-width : 850px) {

    .about, .about__sections{
        
        .picx{
            display: none;
        }

        .title{

            width: 100%;

            h1{
                font-size: 40px;
            }

            span{
                width: 100%;
            }

        }

    }

}

@media(max-width : 700px) {

    .about, .about__sections{
        .aims{
            flex-direction: column;
            
            .aim{
                width: 100%;
            }
        }

        .title{

            width: 100%;

            h1{
                font-size: 40px;
            }

            span{
                width: 100%;
            }

        }

    }

}

@media(max-width : 500px) {

    .about, .about__sections{
        
        .aims{
            flex-direction: column;
            
            .aim{
                width: 100%;
                padding: 30px;
                
                .h, p{
                    text-align: left;
                }

                p{
                    margin-top: 20px;
                    font-size: 17px;
                    line-height: 25px;
                }

                .h{
                    font-size: 16px;
                }
            }
        }

        .title{

            width: 100%;
            padding: 30px;
            height: 100%;
            gap: 30px;

            h1{
                font-size: 30px;
                line-height: 40px;
            }

            span{
                width: 100%;
                font-size: 16px;
                line-height: 24px;
            }

        }

        .holder{
            padding: 30px;

            .mda__head{
                .mda__info{
                    .lead{
                        font-size: 18px;
                        text-align: left;
                        font-weight: 700;
                    }

                    .backups{
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }

            .mda__content{
                font-size: 16px;
                line-height: 24px;
                gap: 20px;
                padding: 40px 0;
                text-align: left;
            }
        }

    }

}